## NPM ##
node_modules

## Jest ##
coverage/

## Yarn ##
yarn-error.log

## Webpack bundle ##
public/bundle.js

## config ##
.eslintrc.js

## Key Files ##
*.pem

## Instruction files ##
mongoDb.txt
nodeInstall.txt
login.sh

## Database Config ##
config.js

## CSV Data ##
database/csv

## Cassandra import texts ##
import_*

## New Relic ##
newrelic.js

## Misc ##
.DS_Store